@page "/servers"

@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<h3>Servers</h3>

<CitiesListComponent @rendermode="InteractiveServer" selectedCity="@selectedCity" SelectCityCallback="HandleCitySelection"></CitiesListComponent>

<br />
<ServerListComponent @rendermode="InteractiveServer" CityName="@selectedCity"></ServerListComponent>
<br />



<a href="/servers/AddServer" class="btn btn-primary"> Add Server </a>

@code {
	
	private string selectedCity = "Toronto";
	
	private void HandleCitySelection(string cityName)
	{
		selectedCity = cityName;
	}
}
