@page "/ToDoList"


@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<h3>To Do List</h3>

<div>
	<br />
	<button type="button" class="btn btn-primary" @onclick="@(() => { AddTaskToDo(); })"> Add Task </button>
	<br />
	<br />
</div>

<div>
	<ToDoListComponent TasksList="@TasksList"></ToDoListComponent>
</div>

@code
{
	private List<TaskToDo> TasksList = TasksRepository.GetTasks();

	private void AddTaskToDo()
	{
		TasksRepository.AddTask(new TaskToDo());
		TasksList = TasksRepository.GetTasks();
	}
}
